{% extends 'base.html' %}{% load static %}
{% load verbose_names %}
{% load is_boolean %}

{% block extraHead %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            let table = $('#data-list').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        url: "{% url urls.ajax_url %}",
                        type: 'POST',
                        data: {
                            "csrfmiddlewaretoken": "{{ csrf_token }}"
                        },
                    },
                    "stateSave": false,
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Vše"]],
                    "bSortMulti": false,
                    "order": [1, "asc"],
                    "columns": [
                        {% for col in columns %}
                            {
                                {% for key,value in col.items %}
                                    '{{ key }}':
                                        {% if value|is_boolean %}
                                            {{ value|yesno:"true,false" }}
                                        {% else %}
                                            '{{ value }}'
                                        {% endif %}
                                    ,
                                {% endfor %}
                            },
                        {% endfor %}
                        {
                            {% if perms.is_staff %}
                                "defaultContent": "<button class=\"btn_edit\">Uprav</button>",
                                "orderable": false,
                                {% else %}
                                "data": "pk",
                                "visible": false,
                            {% endif %}
                        }
                        ,
                        {
                            {% if perms.is_staff %}
                                "defaultContent": "<button class=\"btn_delete\">Smaž</button>",
                                "orderable": false,
                                {% else %}
                                "data": "pk",
                                "visible": false,
                            {% endif %}
                        }
                        ,

                    ],
                {% if group_column %}
                    "drawCallback":

                        function (settings) {
                            var api = this.api();
                            var rows = api.rows({page: 'current'}).nodes();
                            var last = null;

                            api.column({{ group_column }}, {page: 'current'}).data().each(function (group, i) {
                                if (last !== group) {
                                    $(rows).eq(i).before(
                                        '<tr class="group"><td colspan="{{ columns|length }}">' + group + '</td></tr>'
                                    );

                                    last = group;
                                }
                            });
                        }

                    ,
                {% endif %}
                    "language":
                        {
                            "url":
                                "//cdn.datatables.net/plug-ins/1.10.19/i18n/Czech.json"
                        }
                })
            ;
            var tableObj = $('#data-list tbody');
            {% if perms.is_staff %}
                tableObj.on('click', '.btn_delete', function (e) {
                    if (confirm("Smaže záznam.")) {
                        var url = "{% url urls.delete 999 %}";
                        var row = table.row($(this).parents('tr'));
                        var data = row.data();
                        url = url.replace("999", data["pk"]);
                        $.ajax(url, {
                            success: function () {
                                table.draw(false);
                            },
                        });
                    }
                    e.stopPropagation();
                });
            {% endif %}
            {% if perms.is_staff %}
                tableObj.on('click', '.btn_edit', function (e) {
                    var url = "{% url urls.edit 999 %}";
                    var data = table.row($(this).parents('tr')).data();
                    url = url.replace("999", data["pk"]);
                    window.location.href = url;
                    e.stopPropagation();
                });
            {% endif %}
            tableObj.on('click', 'tr', function () {
                var url = "{% url urls.view 999 %}";
                var data = table.row(this).data();
                url = url.replace("999", data["pk"]);
                window.location.href = url;
            });
        });
    </script>
{% endblock %}


{% block content %}
    {% if title %}
        <h1>{{ title }}</h1>
    {% endif %}
    <div class="clearfix">
        <a href="{% url "dictionary:index" %}">Zpět</a>
        {% if perms.is_staff %}
            <a class="align-right" href="{% url urls.add %}">{{ add_label }}</a>
        {% endif %}
    </div>
    <table id="data-list" class="display" style="width:100%">
        <thead>
        <tr>
            {% for col in columns %}
                <th>{% get_verbose_field_name dummy_item col.data %}</th>
            {% endfor %}
            <th>Uprav</th>
            <th>Smaž</th>
        </tr>
        </thead>
    </table>

{% endblock %}
