{% extends 'base.html' %}{% load bootstrap4 %}{% load static %}{% load markdown %}

{% block content %}
    <h1>{% if add %}Přidání dovednosti{% else %}Změna dovednosti{% endif %}</h1>
    <form action=
                  {% if add %}{% url 'dictionary:skill_edit' %}{% else %}{% url 'dictionary:skill_edit' pk %}{% endif %} method=POST>
        {% csrf_token %}
        <div class="container">
            {% for field in form_skill %}
                <div class="row margin-bottom">
                    <div class="col-3 ">{{ field.label }}</div>
                    <div class="col-9 ">{{ field }}</div>
                </div>
            {% endfor %}
            {% for field in form_pl %}
                <div class="row margin-bottom">
                    <div class="col-3">{{ field.label }}</div>
                    <div class="col-9">{{ field }}</div>
                </div>
            {% endfor %}
            <div class="clearfix">
                <div class="align-right"><input type="image" src={% static 'base/forms/send.png' %}></div>
            </div>
        </div>
    </form>
    {{ form_skill.media }}
{% endblock %}
