{% extends 'logged_base.html' %}{% load bootstrap4 %}{% load static %}{% load markdown %}

{% block content %}
    {% if edit or add %}
        <h1>{% if add %}Přidání dovednosti{% else %}Změna dovednosti{% endif %}</h1>
        <form action=
                      {% if add %}{% url 'dictionary:skill_item' %}{% else %}{% url 'dictionary:skill_item' pk %}{% endif %} method=POST>
            {% csrf_token %}
            <div class="container">
                {% for field in form_skill %}
                    <div class="row margin-bottom">
                        <div class="col-3 ">{{ field.label }}</div>
                        <div class="col-9 ">{{ field }}</div>
                    </div>
                {% endfor %}
                {% for field in form_pl %}
                    <div class="row margin-bottom">
                        <div class="col-3">{{ field.label }}</div>
                        <div class="col-9">{{ field }}</div>
                    </div>
                {% endfor %}
                <div class="clearfix">
                    <div class="align-right"><input type="image" src={% static 'base/forms/send.png' %}></div>
                </div>
            </div>
        </form>
    {% else %}
        <h1>{{ form_skill.name.value }}</h1>
        <div class="container">
            <div class="row ">
                <div class="col-3 ">{{ form_skill.name.label }}:</div>
                <div class="col-9 ">{{ form_skill.instance.name }}</div>
            </div>
            <div class="row ">
                <div class="col-3 ">{{ form_skill.stat.label }}:</div>
                <div class="col-9 ">{{ form_skill.instance.get_stat_display|show_markdown|safe }}</div>
            </div>
            <div class="row ">
                <div class="col-3 ">{{ form_skill.difficulty.label }}:</div>
                <div class="col-9 ">{{ form_skill.instance.get_difficulty_display|show_markdown|safe }}</div>
            </div>
            <div class="row ">
                <div class="col-3 ">{{ form_skill.duration.label }}:</div>
                <div class="col-9 ">{{ form_skill.duration.value|show_markdown|safe }}</div>
            </div>
            <div class="row ">
                <div class="col-3 ">{{ form_skill.success_total.label }}:</div>
                <div class="col-9 ">{{ form_skill.success_total.value|show_markdown|safe }}</div>
            </div>
            <div class="row ">
                <div class="col-3 ">{{ form_skill.success.label }}:</div>
                <div class="col-9 ">{{ form_skill.success.value|show_markdown|safe }}</div>
            </div>
            <div class="row ">
                <div class="col-3 ">{{ form_skill.failure.label }}:</div>
                <div class="col-9 ">{{ form_skill.failure.value|show_markdown|safe }}</div>
            </div>
            <div class="row ">
                <div class="col-3 ">{{ form_skill.failure_total.label }}:</div>
                <div class="col-9 ">{{ form_skill.failure_total.value|show_markdown|safe }}</div>
            </div>
            <div class="row ">
                <div class="col-3 ">{{ form_skill.note.label }}:</div>
                <div class="col-9 ">{{ form_skill.note.value|show_markdown|safe }}</div>
            </div>
        </div>
    {% endif %}
    {{ form_skill.media }}
{% endblock %}
