{% extends 'base.html' %}{% load bootstrap4 %}{% load static %}{% load markdown %}{% load verbose_names %}

{% block content %}

    <h1>Dovednost</h1>
    <div class="spell_div">
        <div class="container">
            <h3>{{ skill.name }}</h3>
            <div class="row ">
                <div class="col-3 ">{% get_verbose_field_name skill 'stat' %}:</div>
                <div class="col-9 ">{{ skill.get_stat_display }}</div>
            </div>
            <div class="row ">
                <div class="col-3 ">{% get_verbose_field_name skill 'difficulty' %}:</div>
                <div class="col-9 ">{{ skill.get_difficulty_display }}</div>
            </div>
            <div class="row ">
                <div class="col-3 ">{% get_verbose_field_name skill 'duration' %}:</div>
                <div class="col-9 ">{{ skill.duration }}</div>
            </div>
            <div class="row ">
                <div class="col-3 ">{% get_verbose_field_name skill 'success_total' %}:</div>
                <div class="col-9 ">{{ skill.success_total|show_markdown|safe }}</div>
            </div>
            <div class="row ">
                <div class="col-3 ">{% get_verbose_field_name skill 'success' %}:</div>
                <div class="col-9 ">{{ skill.success|show_markdown|safe }}</div>
            </div>
            <div class="row ">
                <div class="col-3 ">{% get_verbose_field_name skill 'failure' %}:</div>
                <div class="col-9 ">{{ skill.failure|show_markdown|safe }}</div>
            </div>
            <div class="row ">
                <div class="col-3 ">{% get_verbose_field_name skill 'failure_total' %}:</div>
                <div class="col-9 ">{{ skill.failure_total|show_markdown|safe }}</div>
            </div>
        </div>
    </div>
{% endblock %}
