{% extends 'logged_base.html' %}{% load static %}
{% load verbose_names %}


{% block content %}
    <h1>Předměty</h1>
    <a class="align-right" href="{% url 'dictionary:spell_add' %}">Přidej kouzlo</a>
    <table class="framed_table">
        <thead>
        <tr>
            {% if spell_list.count > 0 %}
                <td onclick="window.location.href=&quot;{% url 'dictionary:spells' %}?order=name&sort={% if sort == "ascend" %}descend{% else %}ascend{% endif %}&quot;">{% get_verbose_field_name spell_list.0 "name" %}
                    {% if sort == "ascend" and order == "name" %}
                        <img src={% static 'base/forms/w_1bdn.png' %} alt="">
                    {% else %}
                        <img src={% static 'base/forms/w_1bup.png' %} alt="">
                    {% endif %}
                </td>
                <td></td>
            {% else %}
                <td>Jméno</td>
            {% endif %}
        </tr>
        </thead>
        {% for item in spell_list %}
            <tr onclick="window.location.href=&quot;{% url 'dictionary:spell_edit' pk=item.id %}&quot;">
                <td>{{ item.name }}</td>
                {% if user.is_authenticated %}
                    <td align="right"><a href="{% url 'dictionary:spell_delete' pk=item.id %}">Smaž</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}