{% extends 'logged_base.html' %}{% load static %}

{% block content %}
    <h1>Přidání kouzla</h1>
    <form action={% url 'dictionary:spell_add' %} method=POST>
        {% csrf_token %}
        <table class="table-edit">
            {% for field in form_spell %}
                <tr>
                    <th>{{ field.label }}</th>
                    <td>{{ field }}</td>
                    <td>{{ field.errors.0 }}</td>
                </tr>
            {% endfor %}
            {% for field in form_pl %}
                <tr>
                    <th>{{ field.label }}</th>
                    <td>{{ field }}</td>
                    <td>{{ field.errors.0 }}</td>
                </tr>
            {% endfor %}
            <tr>
                <th></th>
                <td><input align="right" type="image" src={% static 'base/forms/send.png' %}></td>
            </tr>
        </table>
    </form>
    {{ form_spell.media }}
{% endblock %}
