{% extends 'logged_base.html' %}{% load static %}{% load markdown %}

{% block extraHead %}
    <script src="https://cdn.jsdelivr.net/npm/jquery.formset@1.3.0/src/jquery.formset.js"></script>
{% endblock %}

{% block content %}
    <h1>{% if add %}Přidání kouzla{% else %}Změna kouzla{% endif %}</h1>
    <form action=
                  {% if add %}{% url 'dictionary:spell_item' %}{% else %}{% url 'dictionary:spell_edit' pk %}{% endif %} method=POST>
        {% csrf_token %}
        <div class="container">
            {% for field in form_spell %}
                <div class="row margin-bottom">
                    <div class="col-3 ">{{ field.label }}</div>
                    <div class="col-9 ">{{ field }}</div>
                </div>
            {% endfor %}
            {{ form_profs.management_form }}
            {% for form_prof in form_profs %}
                <div class="row margin-bottom form-profs">
                    {{ form_prof.profession }}
                    {{ form_prof.from_level }}
                    <div>{{ form_prof.errors }}</div>
                    <div>{{ form_prof.non_form_errors }}</div>
                </div>
            {% endfor %}

            {% if form_profs.non_form_errors %}
                {% for error in form_profs.non_form_errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}

            <div class="clearfix">
                <div class="align-right"><input type="image" src={% static 'base/forms/send.png' %}></div>
            </div>
        </div>
    </form>
    <script>
        $('.form-profs').formset({
            addText: 'add link',
            deleteText: 'remove'
        });
    </script>
    {{ form_spell.media }}
{% endblock %}
