{% extends 'base.html' %}{% load static %}
{% load verbose_names %}
{% load permissions %}

{% block extraHead %}
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            const groupColumn = 3;
            let table = $('#data-list').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        url: "{% url 'dictionary:spells_table' %}",
                        type: 'POST',
                        data: {
                            "csrfmiddlewaretoken": "{{ csrf_token }}"
                        },
                    },
                    "stateSave": false,
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Vše"]],
                    "bSortMulti": false,
                    "order": [1, "asc"],
                    "columns": [
                        {"data": "pk", "visible": false},
                        {"data": "name"},
                        {"data": "disciplines"},
                        {"data": "profession", "visible": false},
                        {
                            {% has_perm "edit_spell" %}
                                "defaultContent": "<button class=\"btn_edit\">Uprav</button>",
                                "orderable": false,
                                {% else %}
                                "data": "pk",
                                "visible": false,
                            {% endhas_perm %}
                        },
                        {
                            {% has_perm "delete_spell" %}
                                "defaultContent": "<button class=\"btn_delete\">Smaž</button>",
                                "orderable": false,
                                {% else %}
                                "data": "pk",
                                "visible": false,
                            {% endhas_perm %}
                        },

                    ],
                    "drawCallback":

                        function (settings) {
                            var api = this.api();
                            var rows = api.rows({page: 'current'}).nodes();
                            var last = null;

                            api.column(groupColumn, {page: 'current'}).data().each(function (group, i) {
                                if (last !== group) {
                                    $(rows).eq(i).before(
                                        '<tr class="group"><td colspan="5">' + group + '</td></tr>'
                                    );

                                    last = group;
                                }
                            });
                        }

                    ,
                    "language":
                        {
                            "url":
                                "//cdn.datatables.net/plug-ins/1.10.19/i18n/Czech.json"
                        }
                })
            ;
            var tableObj = $('#data-list tbody');
            {% has_perm "delete_spell" %}
                tableObj.on('click', '.btn_delete', function (e) {
                    if (confirm("Smaže kouzlo ze VŠECH kategorií.")) {
                        var url = "{% url 'dictionary:spell_delete' %}";
                        var row = table.row($(this).parents('tr'));
                        var data = row.data();
                        url = url.replace("999", data["pk"]);
                        $.ajax(url, {
                            success: function () {
                                table.draw(false);
                            },
                        });
                    }
                    e.stopPropagation();
                });
            {% endhas_perm %}
            {% has_perm "edit_spell" %}
                tableObj.on('click', '.btn_edit', function (e) {
                    var url = "{% url 'dictionary:spell_edit' %}";
                    var data = table.row($(this).parents('tr')).data();
                    url = url.replace("999", data["pk"]);
                    window.location.href = url;
                    e.stopPropagation();
                });
            {% endhas_perm %}
            tableObj.on('click', 'tr', function () {
                var url = "{% url 'dictionary:spell_item' %}";
                var data = table.row(this).data();
                url = url.replace("999", data["pk"]);
                window.location.href = url;
            });
        });
    </script>
{% endblock %}


{% block content %}

    <h1>Kouzla</h1>
    {% has_perm "add_spell" %}
        <div class="clearfix"><a class="align-right" href="{% url 'dictionary:spell_edit' %}">Přidej kouzlo</a></div>
    {% endhas_perm %}
    <table id="data-list" class="display" style="width:100%">
        <thead>
        <tr>
            <th>pk</th>
            <th>{% get_verbose_field_name dummy_spell "name" %}</th>
            <th>{% get_verbose_field_name dummy_spell "directions" %}</th>
            <th>povolání</th>
            <th>Uprav</th>
            <th>Smaž</th>
        </tr>
        </thead>
    </table>

{% endblock %}
