{% extends 'base.html' %}{% load static %}{% load markdown %}

{% block extraHead %}
    <script src="https://cdn.jsdelivr.net/npm/jquery.formset@1.3.0/src/jquery.formset.js"></script>
{% endblock %}

{% block content %}
    <h1>{% if add %}Přidání kouzla{% else %}Změna kouzla{% endif %}</h1>
    <form action=
                  {% if add %}{% url 'dictionary:spell_edit' %}{% else %}{% url 'dictionary:spell_edit' pk %}{% endif %} method=POST>
        {% csrf_token %}
        <div class="container">
            {% for field in form_spell %}
                <div class="row margin-bottom">
                    <div class="col-3 ">{{ field.label }}</div>
                    <div class="col-9 ">{{ field }}</div>
                </div>
            {% endfor %}

            {# Směry a obory magie #}
            <div class="row margin-bottom col-12">Směry magie (automaticky přidá odpovídající obor):</div>
            {{ form_dirs.management_form }}
            {% for form_dir in form_dirs %}
                <div class="row margin-bottom form-dirs col-12">
                    {{ form_dir }}
                </div>
            {% endfor %}
            {% if form_dirs.non_form_errors %}
                {% for error in form_dirs.non_form_errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}

            {# Povolání #}
            <div class="row margin-bottom col-12">Omezení povolání:</div>
            {{ form_profs.management_form }}
            {% for form_prof in form_profs %}
                <div class="row margin-bottom form-profs col-12">
                    {{ form_prof }}
                </div>
            {% endfor %}
            {% if form_profs.non_form_errors %}
                {% for error in form_profs.non_form_errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}

            <div class="clearfix">
                <div class="align-right"><input type="image" src={% static 'base/forms/send.png' %}></div>
            </div>
        </div>
    </form>
    <script>
        $('.form-dirs').formset({
            addText: 'Přidej směr',
            deleteText: 'Smaž'
        });
        $('.form-profs').formset({
            addText: 'Přidej povolání',
            deleteText: 'Smaž'
        });
    </script>
    {{ form_spell.media }}
{% endblock %}
