[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pylint = "*"
pylint-django = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-pylint = "*"

[packages]
bootstrap4 = "*"
channels = "*"
channels-redis = "*"
daphne = "*"
django = "==3.0.5"
django-bootstrap4 = "*"
django-compressor = "*"
django-import-export = "*"
django-markdownx = "*"
django-polymorphic = "*"
django-sass-processor = "*"
django-simple-menu = "*"
django-tagging = "*"
django-tagging-autocomplete-new = "*"
libsass = "*"
lupa = "*"
markdown-if = {editable = true,git = "https://Sanquira@bitbucket.org/Sanquira/markdown_if.git"}
pillow = "*"
psycopg2-binary = "*"
twisted = {extras = ["http2", "tls"],version = "*"}

[requires]
python_version = "3"
