{% extends 'base.html' %}
{% load static %}

{% block title %}ChatRoom - {{ room_name }}{% endblock %}
{% block extraHead %}
    <script src="{% static 'base/js/chatClient.js' %}"></script>
{% endblock %}
{% block content %}
    <textarea id="chat-log" cols="65" rows="20" readonly="true"></textarea><br/>
    <input id="chat-message-input" type="text" size="65"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
    <script>
        $( document ).ready(function() {
            var roomName = {{ room_name_json }};
            var log = document.querySelector('#chat-log');
            var client = new ChatClient('ws://' + window.location.host +
                '/ws/chat/' + roomName + '/');

            client.onchatmessage = function(message, user) {
                log.value += (user + ': ' + message + '\n');
                log.scrollTop = log.scrollHeight;
            };

            client.onpm = function(message, user) {
                log.value += ('[PRIVATE] ' + user + ': ' + message + '\n');
                log.scrollTop = log.scrollHeight;
            };

            client.onjoinchannel = function(user) {
                log.value += (user + ' se připojil\n');
                log.scrollTop = log.scrollHeight;
            };

            client.onleavechannel = function(user) {
                log.value += (user + ' se odpojil\n');
                log.scrollTop = log.scrollHeight;
            };

            client.onerror = function(e) {
                alert("Websocket error");
                //window.location.href = '{% url "base:index" %}';
            };

            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = function(e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = function(e) {
                var messageInputDom = document.querySelector('#chat-message-input');
                var message = messageInputDom.value;
                if (message) {
                    client.sendChatMessage(message);
                }

                messageInputDom.value = '';
            };
        });
    </script>
{% endblock %}
