{% load static %}
{% load bootstrap4 %}
{% load sass_tags %}
{% load menu %}
{% generate_menu %}

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ImmortalFighters{% endblock %}</title>
    {%  bootstrap_css %}
    {%  bootstrap_javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" href="{% sass_src 'base/style.scss' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'base/favicon.ico' %}"/>
    {% block extraHead %}{% endblock %}
</head>
{% now "H" as current_time %}
<body id="{{ request.background_image }}">
<div id="page" class="row">
    <div class="col-md-2">
        <table class="menu-side">
            <tr>
                <td class="center">- MENU IF -</td>
            </tr>
            {% include "menu/if-menu.html" with menu=menus.main %}

            <tr>
                <td class="center">- HRA ON-LINE -</td>
            </tr>
            {% include "menu/if-menu.html" with menu=menus.game %}

            <tr>
                <td class="center">- VE MĚSTĚ -</td>
            </tr>
            {% include "menu/if-menu.html" with menu=menus.city %}

            <tr>
                <td class="center">- POMOC -</td>
            </tr>
            {% include "menu/if-menu.html" with menu=menus.aid %}
            <tr>
                <td class="center">Pro jakýkoli dotaz můžete využít</td>
            </tr>
            <tr>
                <td class="center collapsed"><a href="http://immortalfighters.net">Hospůdku</a></td>
            </tr>
            <tr>
                <td class="center collapsed">nebo</td>
            </tr>
            <tr>
                <td class="center collapsed">
                    {% if user.is_authenticated %}
                        <a href="http://webchat.freenode.net/?nick={{ user.username }}.&channels=immortalfighters&uio=OT10cnVlJjExPTIyNge7"
                           target="_blank"> IRC Channel </a>
                    {% else %}
                        <a href="http://webchat.freenode.net/?nick=IF_Host_.&channels=immortalfighters&uio=OT10cnVlJjExPTIyNge7"
                           target="_blank"> IRC Channel </a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="center">
                    <img src={% static 'base/menu/facebook-icon-preview-1-400x400.png' %} height="30" width="30">
                </td>
            </tr>
            <tr>
                <td class="center last collapsed">
                    <a href="http://immortalfighters.net"> Immortal Fighters na Facebooku </a>
                </td>
            </tr>
            <tr>
                <td class="center">&copy; 2019 IF TEAM</td>
            </tr>
            <tr>
                <td class="last center collapsed">Dračí doupě&reg;, DrD&trade; a ALTAR&reg; jsou zapsané ochranné
                    známky nakladatelství ALTAR.
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-1">
        <a href="http://immortalfighters.net" id="vertical-text">IMMORAL FIGHTERS</a>
    </div>
    <div class="col-md-7">
        <div class="content">
            {% bootstrap_messages %}
            {% block content %}
                <p>This is center block for content. Now it's empty.</p>
            {% endblock %}
        </div>
    </div>
    <div class="col-md-2">
        <table class="menu-side">
            {% if user.is_anonymous %}
                {% include "shards/login_form.html" %}
            {% else %}
                {% include "shards/logged_menu.html" %}
            {% endif %}
        </table>
    </div>
</div>
</body>

</html>
