{% load bootstrap4 %}{% load static %}{% load markdown %}


<h1>
    {% if pk %}
        Změna dovednosti
    {% else %}
        Přidání dovednosti
    {% endif %}
</h1>
<form action=
              {% if pk %}
                  {% url 'dictionary:skill_edit' pk %}
              {% else %}
                  {% url 'dictionary:skill_edit' %}
              {% endif %}
              method=POST>
    {% csrf_token %}
    <div class="container">
        {% for field in form_item %}
            <div class="row margin-bottom">
                <div class="col-3 ">{{ field.label }}</div>
                <div class="col-9 ">{{ field }}</div>
            </div>
            {% if field.errors %}
                <div class="row margin-bottom">
                    <div class="col-3 "></div>
                    <div class="col-9 ">{{ field.errors }}</div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="clearfix">
            <div class="align-right"><input alt="Send" type="image" src={% static 'base/forms/send.png' %}></div>
        </div>
    </div>
</form>
{{ form_item.media }}
