@font-face {
  font-family: 'EG-Dragon-Caps12';
  src: url('fonts/webfonts_EG-Dragon-Caps12/EG-Dragon-Caps12.ttf.woff') format('woff'),
  url('fonts/webfonts_EG-Dragon-Caps12/EG-Dragon-Caps12.ttf.svg#EG-Dragon-Caps12') format('svg'),
  url("fonts/webfonts_EG-Dragon-Caps12/EG-Dragon-Caps12.ttf.eot"),
  url('fonts/webfonts_EG-Dragon-Caps12/EG-Dragon-Caps12.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'boecklins-universe';
  src: url('fonts/boecklins-universe/Boecklins Universe.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'p22-cezanne-pro';
  src: url("fonts/p22-cezanne-pro/CezannePro.ttf");
  font-weight: normal;
  font-style: normal;
}
