@import "fonts";

$menu_border_image: "menu/menu_border.png";
$menu_bg: "menu/menu_lbg.png";
$menu_bg_vert: "menu/menu_vert.png";
$form_send_image: "forms/send.png";
$title_image_brown: "menu/title_brown.png";
$title_image_green: "menu/title_green.png";
$list_image: "menu/if_sipka.png";

body {
  background-color: black;
  color: #B07344;
  font-family: Georgia;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
}

@mixin bg-image-base {
  background-position: top center, bottom center;
  background-repeat: no-repeat;
}

@for $i from 1 through 5 {
  #bg-image-#{$i} {
    background-image: url("backgrounds/bghory04_#{$i}1.jpg"),
    url("backgrounds/bghory02_#{$i}1.jpg");
    @include bg-image-base;
  }
}

#page {
  padding-top: 295px;
  padding-bottom: 295px;
  width: 1024px;
  margin: auto;
}

.col-md-2 {
  padding: 0;
}

.col-md-1 {
  flex: 0 0 6%;
  -ms-flex: 0 0 6%;
  max-width: 6%;
  padding: 0;
}

.col-md-7 {
  flex: 0 0 59%;
  -ms-flex: 0 0 59%;
  max-width: 59%;
  padding-left: 10px;
  padding-bottom: 0;
  padding-top: 20px;
  padding-right: 10px;
}

.menu-side {
  border-collapse: separate;
  margin-left: 0;
  background: url($menu_bg);
  background-size: 84% auto;
  background-repeat: repeat-y;
  background-position: 12px 0px;
  width: 100%;

  td {
    border: 15px solid transparent;
    border-image: url($menu_border_image) 15 round;
    border-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    max-height: 1px;
    min-height: 1px;
    height: 14px;

    &.last {
      border-bottom: 15px solid transparent;
    }

    &.collapsed {
      border-top: 0;
    }

  }
}

#vertical-text {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-family: boecklins-universe;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 0 green,
  -1px -1px 0 green,
  1px -1px 0 green,
  -1px 1px 0 green,
  1px 1px 0 green;
  /*letter-spacing: -6px;*/

  margin: auto;
  border: 15px solid transparent;
  border-image: url($menu_border_image) 15 round;
  /*border-left: 0;*/
  background-image: url($menu_bg_vert);
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@mixin title-base {
  border: 10px solid transparent;
  color: #999999;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
}

h1 {
  @include title-base;
  border-image: url($title_image_brown) 10 round;
  border-image-slice: 10 fill;
}

h2 {
  @include title-base;
  border-image: url($title_image_green) 10 round;
  border-image-slice: 10 fill;
}

.tooltip {
  position: relative;
  display: inline-block;

  .tooltipblock {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  &:hover {
    tooltipblock {
      visibility: visible;
    }
  }


}

.center {
  text-align: center;
}

a {
  color: white;

  &:hover {
    color: #B0A49B;
    text-decoration: transparent;
  }

  &.online {
    color: green;

    &:hover {
      color: darkgreen;
    }
  }
}

.ellipsis {
  max-width: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type=email],
input[type=password],
input[type=text],
input[type=number] {
  font-family: "Arial";
  font-size: 10pt;
  color: white;
  border: 1px solid #990000;
  background-color: black;
  width: 100%;
  vertical-align: baseline;
}

textarea {
  font-family: "Arial";
  font-size: 10pt;
  color: white;
  border: 1px solid #990000;
  background-color: black;
  width: 100%;
}

select {
  font-family: "Arial";
  font-size: 10pt;
  color: white;
  border: 1px solid #990000;
  background-color: black;
}

form {
  table {
    width: 100%;
  }
}

.content {

}

.framed_table {
  border: solid #B07344;
  width: 100%;
  color: white;

  thead {
    border: #B07344 solid;
    background-color: #B07344;

    td {
      &:hover {
        background-color: #c5916a;
      }
    }
  }

  tbody {
    tr {
      font-weight: normal;
      border-top-color: #B07344;
      border-top-style: solid;
      border-top-width: 1px;

      &:hover {
        background-color: gray;
      }
    }
  }
}

label {
  margin: 0;
}

.warning {
  color: #990000;
}

.white-text {
  color: white;
}

.gray-text {
  color: #999;
}

ul:not(.nav-tabs) {
  li {
    list-style-image: url($list_image);
  }
}

.nav-tabs {
  border: none;

  .nav-item {
    margin-bottom: 0;
  }

  .nav-link {
    color: #B07344;
    background: url($menu_bg);

    &:focus {
      outline: 1px dashed #990000;
      //outline: none;
      border: none;
    }

    &.active {
      color: #B0A49B;
      border: 1px solid #990000;

      &:focus {
        outline: none;
      }
    }

    &:hover {
      border: 1px solid #990000;
    }
  }
}

.markdownx-preview {
  border: 1px solid #990000;
}


.markdown-language-human {
  color: rgb(146, 124, 90);
}

.markdown-language-elf {
  color: rgb(61, 123, 55);
}

.markdown-language-dwarf {
  color: rgb(79, 104, 120);
}

.markdown-language-barbarian {
  color: rgb(198, 62, 40);
}

.markdown-language-others {
  color: rgb(219, 217, 59);
}

.markdown-language-green {
  color: green;
}

.markdown-language-yellow {
  color: yellow;
}

.markdown-language-red {
  color: red;
}

.markdown-table {
  width: auto;
  //border: 1px solid red;
  tr {
    //border: 1px red solid;
    th, td {
      border: 1px red solid;
    }
  }
}
