@import "fonts";
@import "fonts/symbols/css/symbols.css";

$menu_border_image: "menu/menu_border.png";
$menu_bg: "menu/menu_lbg.png";
$menu_bg_vert: "menu/menu_vert.png";
$form_send_image: "forms/send.png";
$title_image_brown: "menu/title_brown.png";
$title_image_green: "menu/title_green.png";
$list_image: "menu/if_sipka.png";

$spell_bg: "forms/paper_texture.png";

$color_dark_brown: #794f2f;
$color_brown: #B07344;
$color_gray: #999999;
$color_red: #900;
$color_coal: #303030;

@import "datatables";
@import "markdown";

body {
  background-color: black;
  color: $color_brown;
  font-family: Georgia, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
}

@mixin bg-image-base {
  background-position: top center, bottom center;
  background-repeat: no-repeat;
}

@for $i from 1 through 5 {
  #bg-image-#{$i} {
    background-image: url("backgrounds/bghory04_#{$i}1.jpg"),
    url("backgrounds/bghory02_#{$i}1.jpg");
    @include bg-image-base;
  }
}

#page {
  padding-top: 295px;
  padding-bottom: 295px;
  width: 1024px;
  margin: auto;
}

.col-md-2 {
  padding: 0;
}

.col-md-1 {
  flex: 0 0 6%;
  -ms-flex: 0 0 6%;
  max-width: 6%;
  padding: 0;
}

.col-md-7 {
  flex: 0 0 59%;
  -ms-flex: 0 0 59%;
  max-width: 59%;
  padding: 20px 10px 0;
}

.margin-bottom {
  margin-bottom: 5px;
}

.menu-side {
  border-collapse: separate;
  margin-left: 0;
  background: url($menu_bg) repeat-y 12px 0px;
  background-size: 84% auto;
  width: 100%;
  border-spacing: 0;

  td {
    border: 15px solid transparent;
    border-image: url($menu_border_image) 15 round;
    border-bottom: 0;
    padding: 0 5px;
    max-height: 1px;
    min-height: 1px;
    height: 14px;

    &.last {
      border-bottom: 15px solid transparent;
    }

    &.collapsed {
      border-top: 0;
    }

  }
}

#vertical-text {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-family: boecklins-universe, sans-serif;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 0 green,
  -1px -1px 0 green,
  1px -1px 0 green,
  -1px 1px 0 green,
  1px 1px 0 green;
  /*letter-spacing: -6px;*/

  margin: auto;
  border: 15px solid transparent;
  border-image: url($menu_border_image) 15 round;
  /*border-left: 0;*/
  background-image: url($menu_bg_vert);
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@mixin title-base {
  border: 10px solid transparent;
  color: $color_gray;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
}

h1 {
  @include title-base;
  border-image: url($title_image_brown) 10 round;
  border-image-slice: 10 fill;
}

h2 {
  @include title-base;
  border-image: url($title_image_green) 10 round;
  border-image-slice: 10 fill;
}

.center {
  text-align: center;
}

a {
  color: white;

  &:hover {
    color: $color_gray;
    text-decoration: transparent;
  }

  &.online {
    color: green;

    &:hover {
      color: darkgreen;
    }
  }
}

.ellipsis {
  max-width: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type=email],
input[type=password],
input[type=text],
input[type=search],
input[type=number] {
  font-family: "Arial", sans-serif;
  font-size: 10pt;
  color: white;
  border: 1px solid $color_dark_brown;
  background-color: black;
  vertical-align: baseline;
}

textarea {
  font-family: "Arial", sans-serif;
  font-size: 10pt;
  color: white;
  border: 1px solid $color_dark_brown;
  background-color: black;
  width: 100%;
}

select {
  font-family: "Arial", sans-serif;
  font-size: 10pt;
  color: white;
  border: 1px solid $color_dark_brown;
  background-color: black;
}

form {
  table {
    width: 100%;
  }

  .form-group {
    label {
      margin-bottom: 0.25rem;
    }
  }

  .form-control {
    color: white;

    &:focus {
      background: $color_coal;
      color: white;

      border-color: $color_brown;
      box-shadow: 0 0 0 .2rem change_color($color_brown, $alpha: 0.25);
    }
  }

  .btn {
    float: right;
  }

  .btn {
    background: none;
    border: solid 2px $color_brown;
    color: $color_brown;

    &:hover {
      border: solid 2px $color_dark_brown;
    }

  }
}

label {
  margin: 0;
}

.white-text {
  color: white;
}

.gray-text {
  color: $color_gray;
}

.clearfix {
  overflow: auto;
}

.align-right {
  float: right;
}

.item-div {
  border: 20px solid transparent;
  border-image-source: url($spell_bg);
  border-image-repeat: stretch;
  border-image-slice: 20 fill;

  color: $color_dark_brown;

  h3 {
    text-align: center;
    font-family: boecklins-universe, sans-serif;
    margin-bottom: 20px;
  }

  h4 {
    text-align: center;
    font-family: boecklins-universe, sans-serif;
    font-size: 12pt;
  }

  .row {
    margin: 0 0 10px;
  }

  .inline {
    margin-bottom: 0;
  }
}

.tooltip-content {
  display: none;
}

.mytooltip {
  border-bottom: black dotted 1px;
}

hr {
  border-color: $color_dark_brown;
}


.modal-content {
  border: 20px solid transparent;
  border-image-source: url($spell_bg);
  border-image-repeat: stretch;
  border-image-slice: 20 fill;
  color: $color_brown;

  .modal-header, .modal-body, .modal-footer {
    border: none;
  }

  .modal-title {
    color: $color_brown;
    font-weight: bold;
  }

  .btn {
    background: none;
    border: solid 2px $color_brown;
    color: $color_brown;

    &:hover {
      border: solid 2px $color_dark_brown;
    }
  }

  .close {
    color: $color_brown;

    &:hover {
      color: $color_dark_brown;
    }
  }
}